.btn {
    background-color: coral;
    color: #fff;
    border: none;
    outline: none;
    font-size: 22px;
    padding: 10px 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;

    &.red {
        background-color: #f00;
    }
    &.green {
        background-color: lightseagreen;
    }
}